<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>INDEX</p>
<label th:text="muu">'helo!'</label>
<label th:text="${lili.username}"></label>
<label th:if="${lili.username}==lili">oopp</label>
<label th:if="false">如果true</label>

<label th:unless="false">adsdaddd</label>

<label th:text="${#dates.createNow()}"></label>

<span th:text="${mo}">as</span>
<span id="12" th:text="${lili.username}"></span>
<div th:object="${lili}">
    <label th:text="${lili.username}">niho</label>
    <ul th:text="*{username}">

    </ul>
    <ul th:text="*{password}"></ul>
    <a href="login.html" th:href="@{/message}">链接</a>

</div>
<span th:text="'123312'">7788</span>
<span th:text="7788"></span>
<span th:text="你好"></span>

<li th:each="co,iterStat :${namelist}">
    <!--<label th:text="ob.username"></label>-->
    <label th:text="|NAME:${co.username}|"></label>
    <label th:text="'id:'+ ${iterStat.index}"></label>
    <label th:text="|id: ${iterStat.index}|"></label>

    <label th:text="|id: ${iterStat.count}|"></label>
    <label th:text="|id: ${iterStat.odd}|"></label>
    <label th:text="|id: ${iterStat.first}|"></label>
    <label th:text="|id: ${iterStat.last}|"></label>
    <label th:text="|id: ${iterStat.size}|"></label>

    <label th:text="|id: ${iterStat.even}|"></label>


</li>
<script th:inline="javascript">
    
    function put() {
        alert("触发")
        var data = [[${lili.username}]]
        alert(data)

        var data2 = document.getElementById("lili").value

        alert(data2)
    }
    
</script>

<label th:if="${lili.userID > 0}">lili的id是2</label>
<div th:inline="text">

    [[${lili.username}]]

</div>

<button onclick="put()">传值测试</button>

<input type="hidden" th:value="${lili.username}" id="lili"/>

<table th:remove="all-but-first">
    <thead>
    <td>值1</td>
    <td>值2</td>
    <td>值3</td>
    </thead>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>

    <tr th:remove="all">
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>

    <tr th:remove="body">
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>

    <tr th:remove="tag">
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>

</table>


</body>
</html>