<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登陆</title>
</head>
<body>
<form th:action="@{/login}" action="/login" method="post">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">登陆</button>
            </td>
            <td>
                <button type="reset">放弃</button>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/toNew}">注册新用户</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/select}">查询中心</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/toNew2}">注册新用户2</a>
            </td>
        </tr>
    </table>
</form>

<div>

    <label>结果</label>

    <label th:text="${result}">默认结果</label>


</div>


</body>
</html>