<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>
</head>
<body>
<form th:action="@{/newuser}" method="post">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">确定</button>
            </td>
            <td>
                <button type="reset">取消</button>
            </td>
        </tr>
    </table>
    <input type="hidden" name="token" th:value="${session.token}"/>
    <label th:text="${session.token}"></label>
    <label th:text="${token}"></label>
</form>

</body>
</html>