<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>login</p>
<form action="/login">
    <table>
        <tr>
            <td>本名</td>
            <td><input type="text" name="bookName"/></td>
        </tr>
        <tr>
            <td>图源名</td>
            <td><input type="text" name="BookSourceOwnerName"/></td>
        </tr>
        <tr>
            <td>翻译名</td>
            <td><input type="text" name="BookTranslatedName"/></td>
        </tr>
        <tr>
            <td>校对名</td>
            <td><input type="text" name="BookCheckerName"/></td>
        </tr>
        <tr>
            <td>作者</td>
            <td><input type="text" name="authorName"/></td>
        </tr>
        <tr>
            <td>    <button type="submit">添加</button></td>
            <td>    <button type="reset">删除</button></td>
        </tr>
    </table>
</form>
</body>
</html>