<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>login</p>
<form action="/new">
    <p>新用户注册</p>
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>    <button type="submit">注册</button></td>
            <td>    <button type="reset">取消</button></td>
        </tr>
    </table>

</form>
<span>

    结果： <p data-th-text="${info}"></p>

</span>
</body>
</html>