<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <td>用户ID</td>
    <td>用户名</td>
    <td>密码</td>
    </thead>
    <tr th:each="user:${userlist} ">
        <td th:text="${user.userID}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
    </tr>
</table>
<hr/>
<span>
    修改面板
</span>
<form action="/updateuser" method="post">
    <table>
        <tr>
            <td>用户ID</td>
            <td><input type="text" name="userID"/></td>
        </tr>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" name="password"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">修改</button>
            </td>
            <td>
                <button type="reset">放弃</button>
            </td>
        </tr>
    </table>
</form>
<hr/>
<span>
    删除面板
</span>
<form action="/deleteuser" method="post">
    <table>
        <tr>
            <td>用户ID</td>
            <td><input type="text" name="userID"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">删除</button>
            </td>
            <td>
                <button type="reset">放弃</button>
            </td>
        </tr>
    </table>
</form>
<span>
    查询面板

    </span>
<form action="/finduser" method="post">
    <table>
        <tr>
            <td>用户ID</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">确定</button>
            </td>
            <td>
                <button type="reset">放弃</button>
            </td>
        </tr>
    </table>
</form>


<span>
    <a href="/deleteall">清除全部</a>
    <a href="/show">查询全部</a>
</span>

</body>
</html>